@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);

$red: #e74c3c;
$green: #2ecc71;
$blue: #3498db;
$cloud: #ecf0f1;
$white: #ffffff;
$coal: #333333;

$site-font: 'Roboto', sans-serif;
$site-bold: 700;
$site-med: 400;
$site-light: 300;