header {
	position: fixed;
	width: 100%;
	background: $coal;
	color: $white;
	text-align: center;

	.fa {
		padding: 15px;
		float: left;
		font-size: 25px;
		cursor: pointer;
	}

	h2 {
		padding-top: 15px;
		font-size: 25px;
		font-family: $site-header;
		text-transform: uppercase;
	}
}