.columns {
  margin:40px auto;
  display:table;
  table-layout: fixed;
  width: 100%;
}

.column {
  display: table-cell;
  text-align: center;
  vertical-align:top;
  line-height: 5em;
  &.middle { vertical-align:middle;}
  img {
    border-radius:200px;
    width:230px;
  }
  @include respond-to($tablet-l) { img {width:180px;} }
  @include respond-to($tablet) {
    display: block;
    width: 100%;
    img { margin:15px auto 5px auto; }      
  }
}


