header {
	position: fixed;
	z-index: 99;
	width: 100%;
	background: $dark-coal;
	color: $white;

	.fa {
		width: 25px;
		height: 25px;
		padding: 15px;
		float: left;
		font-size: 25px;
		cursor: pointer;
	}

	h2 {
		width: 75%;
		float: left;
		padding-top: 16px;
		font-size: 1.3rem;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 4px;
		a { color: $white; }
	}
}