header {
	position: fixed;
	z-index: 99;
	width: 30%;
	max-width: 250px;
	background: $dark-coal;
	color: $white;

	.fa {
		display: none;
		z-index: 101;
		width: 25px;
		height: 25px;
		padding: 14px;
		float: left;
		font-size: 25px;
		cursor: pointer;
	}

	h2 {
		font-size: 1.3rem;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 4px;
		a { color: $white; }
	}
}

@include phone-l() {
	header { 
		width: 100%;
		max-width: initial;
		.fa {
			display: block;
		}
		h2 {
			text-align: center;
		}
	}
}