header {
	position: fixed;
	z-index: 99;
	width: 30%;
	max-width: 250px;
	background: $dark-coal;
	color: $white;

	.fa {
		display: none;
		width: 25px;
		height: 25px;
		padding: 15px;
		float: left;
		font-size: 25px;
		cursor: pointer;
	}

	h2 {
		float: left;
		padding: 16px;
		font-size: 1.3rem;
		font-weight: bold;
		text-transform: uppercase;
		text-align: left;
		letter-spacing: 4px;
		a { color: $white; }
	}
}