.main {
	h2 {
		font-size: 45px;
		font-weight: bold;
	}

	.lang-items {
		display: none;
		height: 80%;
		overflow: scroll;
		@include phone-l() { height: auto; }
		&.is-active {
			display: block;
		}
		li {
			color: $coal;
			background: $white;
			// border-bottom: 1px solid $blue;
			text-overflow: ellipsis;
			a {
				padding: 10px 5px;
				display: block;
				text-decoration: none;
				color: inherit;
				@include totalTransition();
				&:hover {
					background: $coal;
					color: $white;
				}
			}
			&.html-border { border-bottom: 1px solid $orange; }
			&.css-border { border-bottom: 1px solid $blue; }
			&.js-border { border-bottom: 1px solid $yellow; }
		}
	}
}