aside {
	position: absolute;
	width: 0;
	height: 0;
	z-index: -1;

	&.is-active {
		width: 100%;
		height: 100%;
		z-index: 100;

		background: rgba($dark-coal, 0.5); 
		transition-property: background;
		transition-duration: .5s;
		
		.sidebar {
			width: 70%;
			height: 100%;
			float: left;
			background: $dark-coal;
			ul {
				width: 80%;
				margin: 0 auto;
				padding: 70px 0 20px 0;
				li {
					padding-bottom: 15px;
					margin-bottom: 15px;
					border-bottom: 1px solid $grey;
					a {
						display: block;
						text-decoration: none;
					}
				}
			}
		}
		.sidebar-close {
			width: 30%;
			height: 100%;
			float: left;
		}
	}
}

.sidebar {
	width: 0;
	transition-property: width;
	transition-duration: .2s;
}

