@import url(http://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:700);
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/base/_base.scss */
body {
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

/* line 8, ../sass/base/_base.scss */
.cf {
  overflow: auto;
  zoom: 1;
}

/* line 13, ../sass/base/_base.scss */
header {
  position: fixed;
  width: 100%;
  padding: 15px;
  background: #333333;
}
/* line 19, ../sass/base/_base.scss */
header h2 {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

/* line 29, ../sass/base/_base.scss */
.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: #ffffff;
}

/* line 36, ../sass/base/_base.scss */
.search {
  position: fixed;
  top: 55px;
  width: 100%;
  background: #ffffff;
  padding: 20px 0 10px 0;
  background: #ffffff;
  text-transform: uppercase;
  text-align: center;
}
/* line 46, ../sass/base/_base.scss */
.search input:focus {
  outline: none;
}
/* line 47, ../sass/base/_base.scss */
.search input[placeholder] {
  color: #333333;
}
/* line 48, ../sass/base/_base.scss */
.search input[type=text] {
  width: 89%;
  height: 30px;
  border: 2px solid #333333;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

/* line 60, ../sass/base/_base.scss */
.main {
  max-width: 650px;
  padding: 180px 20px 0 20px;
  margin: 0 auto;
}
/* line 65, ../sass/base/_base.scss */
.main h2 {
  font-size: 45px;
  font-weight: bold;
}

/* line 71, ../sass/base/_base.scss */
.lang-selector {
  width: 90%;
  margin: 10px auto;
  background: #30A9DC;
  border-radius: 5px;
}
/* line 78, ../sass/base/_base.scss */
.lang-selector .lang {
  width: 50%;
  float: left;
  padding: 12px 0;
  background: #30A9DC;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}
/* line 90, ../sass/base/_base.scss */
.lang-selector .lang.is-active {
  background: #0C73B8;
}

/* line 96, ../sass/base/_base.scss */
ul {
  display: none;
  max-height: 400px;
}
/* line 100, ../sass/base/_base.scss */
ul.is-active {
  display: block;
}
/* line 103, ../sass/base/_base.scss */
ul li {
  padding: 10px 5px;
  color: #333333;
  background: #ffffff;
  border-bottom: 1px solid #30A9DC;
  text-overflow: ellipsis;
}
