.search-filter {
	background: $white;
	text-transform: uppercase;
	text-align: center;

	input:focus {outline: none;}
	input[placeholder] { color: $coal; }
	input[type=text] {
	width: 85%;
	float: left;
	margin-bottom: 15px;
	height: 40px;
	background: $white;
	border: 2px solid $dark-coal;
	border-right: 0;
	// border-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	font-size: 16px;
	text-align: left;
	padding-left: 5px;
	}
	.fa-search {
		width: 15%;
		float: left;
		padding: 10px 0;
		background: $dark-coal;
		color: $white;
		font-size: 20px;
		text-align: center;
		// border-top-right-radius: 5px;
		// border-bottom-right-radius: 5px;
	}
	.filter {
		width: 100%;
		// border-radius: 5px;

		.lang {
			width: 50%;
			float: left;
			padding: 12px 0 5px 0;
			color: $white;

			font-size: 20px;
			font-weight: $site-med;
			text-align: center;
			cursor: pointer;
			&.html {
				width: 100%;
				background: $orange;
				&.is-active { background: $dark-orange; }
			}
			&.css {
				background: $blue;
				&.is-active { background: $dark-blue; }
			}
			&.js {
				background: $yellow;
				&.is-active { background: $dark-yellow; }
			}
		}
	}
}

.lang-tri-wrap {
	width: 100%;
	height: 10px;
}

.lang-tri-content {
	width: 50%;
	float: left;
	&.orange-tri-content { background: $orange; width: 100%; }
	&.blue-tri-content { background: $blue; }
	&.yell-tri-content { background: $yellow; }
	&.is-active {
		&.blue-tri-content { background: $dark-blue; }
		&.yell-tri-content { background: $dark-yellow; }
		.lang-tri {
			&.blue-tri-color { border-bottom: 10px solid $light-blue; }
			&.yell-tri-color { border-bottom: 10px solid $light-yellow; }
		}
	}
	.lang-tri {
		width: 0; 
		height: 0; 
		margin: 0 auto;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid transparent;
		&.orange-tri-color { border-bottom: 10px solid $light-orange; }
	}
}

