body {
	width: 100%;
	height: 100%;
	font-family: $site-font;
	font-weight: $site-light;
	letter-spacing: 1px;
}
.cf {
	overflow: auto;
	zoom: 1;
}
.app {
	display: none;
	width: 100%;
	height: auto;
	margin: 0 auto;
	background: $white;
}

.site {
	display: block;
}

a { text-decoration: none; }

input::-webkit-input-placeholder{ color: $coal; }
input:-moz-placeholder { color: $coal; }


@include phone() {
	.app { display: block; }
	.site { display: none; }
}