
.button {
	@include bgTransition();
	margin-top: 40px;
	text-align: center;
	cursor: pointer;
}

.see-also {
	text-align:left;
	li {
		@include bgTransition();
		display: inline-block;
		margin: 0 5px;
		padding: 20px 0px;
		width: 110px;
		font-size: 16px;
		text-align:center;
		border-radius: 5px;
		cursor: pointer;
		a { color: $white; }
	}
	&.css { li { background: $blue;	&:hover { background: $dark-blue; } } }
	&.html { li { background: $orange; &:hover { background: $dark-orange;	} } }
	&.js { li { background: $yellow; &:hover {	background: $dark-yellow; } } }
}

.paypal {
	background:url(../svg/paypal.svg) no-repeat center;
	background-size:contain;
	background-size:200px;
	margin:40px auto auto;
	border: solid 1px $blue;
	border-radius: 5px;
	width: 220px;
	padding: 25px;
	&:hover { 
		margin-top: 39px;
		border: solid 2px $blue; 
	}
}