<!DOCTYPE html>
<html ng-app="protoApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Prototype2</title>
	<link rel="stylesheet" href="stylesheets/style.css">
	<script src="js/angular.min.js"></script>
	<script src="js/jquery-2.1.1.min.js"></script>
	<script src="js/proto.js"></script>
	<script src="js/base.js"></script>
</head>
<body ng-controller="ProtoAppCtrl">
<script>
</script>
	<div class="container">
		<header><h2>Hacker Helper</h2></header> 

		<div class="main">
			<div class="search">
				<input type="text" placeholder="search" id="query" ng-model="query" />

				<div class="lang-selector cf">
					<div class="lang is-active">css3</div>
					<div class="lang">sass</div>
				</div>
			</div>
			
			<!-- Use angular to bring in URL to next page with item content -->
			<ul class="lang-items is-active"><li ng-repeat="css in cssLang | filter:query | orderBy:'name' ">{{css.name}}</li></ul>
			<ul class="lang-items"><li ng-repeat="sass in sassLang | filter:query | orderBy:'name' ">{{sass.name}}</li></ul>
		</div>
	</div>
</body>
</html>