<!DOCTYPE html>
<html ng-app="protoApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Prototype</title>
	<link rel="stylesheet" href="stylesheets/style.css">
	<script src="js/angular.min.js"></script>
	<script src="js/proto.js"></script>
</head>
<body ng-controller="ProtoAppCtrl">
<script>
</script>
	<div class="container">
		<!-- Use angular to pull in language name -->
		<header><h2>CSS3</h2></header> 

		<div class="main">
			<div class="search">
				<input type="text" placeholder="search" id="query" ng-model="query" />
			</div>
			
			<!-- Use angular to bring in URL to next page with item content -->
			<ul><li ng-repeat="item in items | filter:query | orderBy: orderList">{{item.name}}</li></ul>
		</div>
	</div>
</body>
</html>