@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/base/_base.scss */
body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

/* line 7, ../sass/base/_base.scss */
header {
  padding: 15px;
  background: #e74c3c;
}
/* line 11, ../sass/base/_base.scss */
header h2 {
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

/* line 19, ../sass/base/_base.scss */
input:focus {
  outline: none;
}

/* line 20, ../sass/base/_base.scss */
.container {
  width: 375px;
  height: 667px;
  margin: 0 auto;
  border: 1px solid #334145;
  background: #ecf0f1;
}

/* line 28, ../sass/base/_base.scss */
.search {
  background: #ffffff;
  border-bottom: 1px solid #77939a;
  padding: 5px 0 5px 15px;
  text-transform: uppercase;
}
/* line 34, ../sass/base/_base.scss */
.search input[type=text] {
  width: 94%;
}

/* line 39, ../sass/base/_base.scss */
ul {
  text-align: center;
}
/* line 41, ../sass/base/_base.scss */
ul li {
  padding: 10px 0;
  border-bottom: 1px solid #77939a;
  background: #ffffff;
}
