<html ng-app="hackerApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hacker Helper</title>
	<link rel="stylesheet" href="assets/css/style.css">
	<script src="assets/js/jquery-2.1.1.min.js"></script>
	<script src="assets/js/angular.min.js"></script>
	<script src="assets/js/app.min.js"></script>
</head>
<body>
	<div class="container" ng-controller="langCtrl">
		<header>
			<i class="fa fa-bars"></i>
			<h2>Hacker Helper</h2>
		</header>
		<aside>
			<div class="sidebar"></div>
			<div class="sidebar-close"></div>
		</aside>

		<div class="search-filter">
			<input type="text" placeholder="search" id="query" ng-model="query" />
			<div class="filter cf">
				<div class="lang js is-active">JS</div>
				<div class="lang js">JQuery</div>
			</div>
		</div>

		<div class="main">
			<ul class="lang-items is-active">
				<li class="js-border" ng-repeat="js in jsLang | filter:query | orderBy:'name' ">
					<a ng-href="hackerhelper/{{js.url}}">{{js.name}}</a>
				</li>
			</ul>
			<ul class="lang-items">
				<li class="js-border" ng-repeat="jq in jqLang | filter:query | orderBy:'name' ">
					<a ng-href="hackerhelper/{{jq.url}}">{{jq.name}}</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>